# URL del backend de Veris
EXPO_PUBLIC_API_URL=http://TU_IP_LOCAL:3000/api

# Supabase (para acceder a imágenes públicas)
EXPO_PUBLIC_SUPABASE_URL=https://negatjrcxzjliclvhdub.supabase.co
EXPO_PUBLIC_SUPABASE_KEY=sb_publishable_15NfjkovezNhFC6GZODKZQ_CXDdeW5t
