# URL del backend de Veris (producción en Render)
EXPO_PUBLIC_API_URL=https://veris-backend-3jar.onrender.com/api

# Supabase (para acceder a imágenes públicas)
EXPO_PUBLIC_SUPABASE_URL=https://negatjrcxzjliclvhdub.supabase.co
EXPO_PUBLIC_SUPABASE_KEY=sb_publishable_15NfjkovezNhFC6GZODKZQ_CXDdeW5t
